<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="base_frame" default="pelvis"/>
	<arg name="map_frame" default="map"/>
	<arg name="reference_heading_frame" default="map"/>
	<arg name="imu_calib_dir" default="$(find gait1992_description)/imu_defaults"/>
	<group ns="base_frame_setter" >

		<node pkg="gait1992_description" type="fixquaternions_server.py" 		name="pose_calibrated" output="screen">
			<param name="is_imu" value="false" />
		</node>
		<node pkg="gait1992_description" type="floating_joint_state_publisher.py" 	name="base_body_joint_state_publisher" output="screen">
			<param name="parent_frame_id" value="$(arg map_frame)"/>
			<param name="reference_heading_frame_id" value="$(arg reference_heading_frame)"/>
			<param name="child_frame_id" value="$(arg base_frame)"/>
			<param name="pose_publisher_name" value="pose_calibrated"/>
			<param name="rate" value="100"/>
		</node>
		<node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load pose_calibrated $(arg imu_calib_dir)/base_frame.yaml" />
	</group>

</launch>
