<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<!--<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="recording" value="false"/>
		<arg name="debug" value="false"/>
	</include>-->

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find gait1992_description)/rviz/gait1992_description.rviz" />

	<param name="robot_description" command="$(find xacro)/xacro $(find gait1992_description)/description/model_generic/human_with_ximus.urdf.xacro"/>

	<node name="human_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/model_generic/joint_states" />
	</node>

	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file /catkin_ws/src/gait1992_description/description/model_generic/model_generic_aCol.urdf -urdf -x 0 -y 0 -z 2 -model model_generic" />

	<include file="$(find gait1992_description)/launch/feet_missing_tfs_publisher.launch">
		<arg name="freq" value="100"/>
	</include>
	<include file="$(find gait1992_description)/launch/gui.launch" />
</launch>
