<?xml version="1.0" encoding="UTF-8" standalone="no" ?>

<launch>
	<arg name="foot_left_name" default="calcn_l"/>
	<arg name="foot_right_name" default="calcn_r"/>
	<arg name="insole_length" 	default="0.25"/>
	<arg name="insole_distance_from_foot" default="0.01"/>
	<arg name="ignore_insole_imu_for_vis"	default="true"/>
	<arg name="tf_prefix" default="ik"/>
	<arg name="adjustable_tfs" 		default="false"/>
	<!-- it's not really half for this model though..-->
	<!-- arg name="half_insole_length"		value="$(eval arg('insole_length')/2)"/ -->
	<arg name="half_insole_length"		value="$(eval arg('insole_length')/2.25)"/>
	<arg name="scale" 	default="1"/>
	
	<arg name="insole_lateral_foot_displacement"		value="$(eval arg('scale')/100)"/>
	
	<arg name="tf_publisher_pkg"		default="$(eval 'ar_test' if arg('adjustable_tfs') else 'tf2_ros' )"/>
	<!-- eval needs to be alone... -->
	<!-- not working just yet -->
	<!-- arg name="tf_publisher_node"		default="$(eval 'adjustable_node' if arg('adjustable_tfs') else 'static_transform_publisher' )"/ -->
	<arg name="tf_publisher_node"		default="$(eval 'modifiable_fixed_transform_publisher.py' if arg('adjustable_tfs') else 'static_transform_publisher' )"/>
	<group ns="ik">
		<!-- 3 goes to the middle of the foot and is always a fixed transform from a bone in the foot and the center of that foot-->
		<!-- 4 is representing an IMU and if enabled will be a fixed transform-->
		<group ns="left">
			<!-- 3 -->
			<node pkg="$(arg tf_publisher_pkg)" type="$(arg tf_publisher_node)" name="skeleton_foot_to_center_of_foot_broadcaster" args="-$(arg insole_lateral_foot_displacement) $(arg half_insole_length) -$(arg insole_distance_from_foot) 0 0 0.0800 0.9968 $(arg tf_prefix)/$(arg foot_left_name) $(arg tf_prefix)/left_foot_center" >
				<param name="marker_description" value = "From calcaneus to center of the foot"/>
			</node>
			<!-- 4 -->
			<node pkg="$(arg tf_publisher_pkg)" if="$(arg ignore_insole_imu_for_vis)" type="$(arg tf_publisher_node)" name="insole_fixed_insole_link_broadcaster" args="0 0 0 0 0 0 1 $(arg tf_prefix)/left_foot_center $(arg tf_prefix)/left_insole" >
				<param name="marker_description" value = "I haven't quite figured out this one yet. This is the orientation from the insole IMU. It should be a zero transform otherwise."/>
			</node>
		</group>
		<group ns="right">
			<!-- this is always going to be present and should be a fixed transform from the calcaneus bone to the middle of the foot-->
			<node pkg="$(arg tf_publisher_pkg)" type="$(arg tf_publisher_node)" name="skeleton_foot_to_center_of_foot_broadcaster" args="$(arg insole_lateral_foot_displacement) $(arg half_insole_length) -$(arg insole_distance_from_foot)  0 0 -0.0800 0.9968 $(arg tf_prefix)/$(arg foot_right_name) $(arg tf_prefix)/right_foot_center" >
				<param name="marker_description" value = "From calcaneus to center of the foot"/>
			</node>
			<node pkg="$(arg tf_publisher_pkg)" if="$(arg ignore_insole_imu_for_vis)" type="$(arg tf_publisher_node)" name="insole_fixed_insole_link_broadcaster" args="0 0 0 0 0 0 1 $(arg tf_prefix)/right_foot_center $(arg tf_prefix)/right_insole" >
				<param name="marker_description" value = "I haven't quite figured out this one yet. This is the orientation from the insole IMU. It should be a zero transform otherwise."/>
			</node>
		</group>


	</group>
</launch>
