<?xml version="1.0" encoding="UTF-8" standalone="no" ?>

<launch>
	<arg name="foot_left_name" default="calcn_l"/>
	<arg name="foot_right_name" default="calcn_r"/>
	<arg name="foot_distance_from_ground" default="0.03"/>
	<arg name="insole_distance_from_foot" default="0.01"/>
	<arg name="ignore_insole_imu_for_vis"	default="true"/>
	<arg name="tf_prefix" default="ik"/>
	<group ns="ik">
		<!-- 3 goes to the middle of the foot and is always a fixed transform from a bone in the foot and the center of that foot-->
		<!-- 4 is representing an IMU and if enabled will be a fixed transform-->
		<group ns="left">
			<!-- 3 -->
			<node pkg="tf2_ros" type="static_transform_publisher" name="skeleton_foot_to_center_of_foot_broadcaster" args="0 .10 0 0 0 0 $(arg tf_prefix)/$(arg foot_left_name) $(arg tf_prefix)/left_foot_center" />
			<!-- 4 -->
			<node pkg="tf2_ros" if="$(arg ignore_insole_imu_for_vis)" type="static_transform_publisher" name="insole_fixed_insole_link_broadcaster" args="0 0 -$(arg insole_distance_from_foot) 0 0 0 1 $(arg tf_prefix)/left_foot_center $(arg tf_prefix)/left_insole" />
		</group>
		<group ns="right">
			<!-- this is always going to be present and should be a fixed transform from the calcaneus bone to the middle of the foot-->
			<node pkg="tf2_ros" type="static_transform_publisher" name="skeleton_foot_to_center_of_foot_broadcaster" args="0 .10 0 0 0 0 $(arg tf_prefix)/$(arg foot_right_name) $(arg tf_prefix)/right_foot_center" />
			<node pkg="tf2_ros" if="$(arg ignore_insole_imu_for_vis)" type="static_transform_publisher" name="insole_fixed_insole_link_broadcaster" args="0 0 -$(arg insole_distance_from_foot) 0 0 0 1 $(arg tf_prefix)/right_foot_center $(arg tf_prefix)/right_insole" />
		</group>


	</group>
</launch>
